/* Defining colors that will be used throughout the site "Think - Color Scheme"  . This makes for easier maintenance and color choosing */
:root {
  --body-background-color: #cadffa;
  --header-footer-background-color: #1fb9f9;
  --header-footer-title-text-color: #03396b;
  --nav-menu-text-color: #0442a0;
  --sand-color: #f4dcb0;
  --green-text: #096112;
}
/* Reset margin and padding for consistency. This will ensure that there are no margins and padding around the borders of the body */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: var(--body-background-color) ;
}
/* Style for the header section */
header,
footer {
  font-size: 1.8em;
  background-color: var(--header-footer-background-color);
  color: var(--header-footer-title-text-color);
  padding: 10px; /* This puts 10 pixels of padding on the inside edge of the header container so the contents are not against the edges.*/
  display: flex; /* Options here could be flex, block(default) and grid. flex was chosen because in this layout , all of the contents sit in one row. flex is a good choice as it allows easy alignment of the elements without a lot of code*/
  justify-content: space-between; /* This is for horizontal alignment (because this is laid out as a row) Options include; space-between, space-around and space-evenly. */
  align-items: center; /* This is for vertical alignment (because this is a row) Opitons include; center, top and bottom*/
}
h1 {
  flex: 1; /* Allow the h1 element to grow and occupy the available space */
  text-align: center; /* Center-align the text */
  white-space: wrap; /* Prevent the text from wrapping */

}

/* Style for the navigation links in the header */
nav ul {
  list-style: none; /* This propert removes any bullets (this particular list is un-ordered) and removes numbers from an OL (ordered list)*/
  display: flex; 
}

nav ul li {
  margin-right: 20px;
}

nav a {
  text-decoration: none; /* This property removes the underlines from the link items. */
  color: var(--nav-menu-text-color);
}

/* Style for the main content section */
main {
  padding: 20px 40px;
}
img {
  max-width: 100%;
  height: auto;
  display: block;
  margin: 0 auto;
}

.title-section {
margin-top: 10px;
display: flex;
flex-direction: row;
align-items: center;
}
.spacer {
  flex: 1;
}
.section-title {
  font-size: 1.65em;
  background-color: var(--sand-color);
  color: var(--green-text);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border: 2px solid var(--green-text); 
  border-radius: 5px;
  padding: 0 10px; /* Add padding for spacing between text and border */
}
.border-left {
  
  font-size: 1.65em;
  background-color: var(--sand-color);
  color: var(--green-text);
  flex-direction: column;
  justify-content: center;
  align-items: start;
  border: 2px solid var(--green-text); 
  border-radius: 5px;
  padding: 0 10px; /* Add padding for spacing between text and border */
  display: none;
} /* these elemnts are just for ease in centering the 'Lets get started' text container*/
.border-right {
  
  font-size: 1.65em;
  background-color: var(--sand-color);
  color: var(--green-text);
  flex-direction: column;
  justify-content: center;
  align-items: end;
  border: 2px solid var(--green-text); 
  border-radius: 5px;
  padding: 0 10px; /* Add padding for spacing between text and border */
  display: none;
}
.clickable-element {
  cursor: pointer;
}
#prelude { /* Styling the prelude text*/
  font-size: 1.5em;
  letter-spacing: 1px;
  line-height: 1.2;
  font-weight: 600;
}
#tsunami { /* Styling for the image to make fill the available area and make it responsive */
  width: 100%;
  height: 100%;
  margin-top: 20px;
}
#lesson-one {
  display: none;
}
#lesson-two {
  display: none;
}
#lesson-three {
  display: none;
}
#lesson-four {
  display: none;
}
#lesson-five {
  display: none;
}

/* Responsive design using media queries */
@media (max-width: 768px) {
  /* For screens smaller than 768px, adjust the header and navigation layout */
  /* on small screens, it is preferred to have items in a column rather than a row because of small screen width. It is done by changing properties such as adding a flex-direction property. row is the default direction. */
  header {
      flex-direction: column;
      text-align: center;
  }

  nav ul {
      margin-top: 10px;
      flex-direction: column;
  }

  nav ul li {
      margin-right: 0;
      margin-bottom: 10px;
  }
}
